# Entornos virtuales
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuraciones locales
*.env
.env.*
*.ini
*.cfg

# Logs y temporales
*.log
logs/
*.tmp
*.swp

# Dependencias pip
pip-log.txt
pip-delete-this-directory.txt

# Pruebas locales
.coverage
htmlcov/
.tox/
.pytest_cache/
tests/__pycache__/

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Docker
*.tar
docker-compose.override.yml